body{
  background-color: #f5f5dc;
}
hr{
  height: 2px;
  border-style: dotted none none none;
  border-width: 5px;
  border-color: grey;
  width:45px;
  background-color:white;
}
h1{
  color: #6a5acd;
}
h2{
  color:#6a5acd;
}
